body{
    background: rgb(2,0,36);
    width: 100%;
    height: 100%;
    color: white;
    
}

*{
    box-sizing:border-box;
}


main #lejeu {
    margin: 100px;
    display: flex;
    justify-content: center;

}
main #lejeu img{
    border: solid 1px white;
}

main #télécharger {
    width: 100%;
    padding: 20px;
}

main #télécharger p{
    text-align: justify;
    width: 40%;
    float: left;
}
main #télécharger button{
    float : left;
    font-weight: bold;
    background-color: white;
    border-radius: 5px;
    border: solid black 2px;
    cursor: pointer;
    width: 100px;
    height: 50px;
    margin: 55px 21%;
    
}
main #télécharger button:hover{
    text-decoration: underline;
    box-shadow: 0px 4px 4px black;
}